* {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}

:root {
	/* font-family:
    Buvera-Regular, Buvera-Bold, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif; */
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--chakra-colors-on-surface);
	background-color: var(--chakra-colors-surface);

	/* font-synthesis: none; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

::selection {
	color: var(--chakra-colors-on-primary);
	background-color: var(--chakra-colors-primary);
}

/* полоса прокрутки */
::-webkit-scrollbar {
	width: 2px; /* для вертикальной */
	height: 6px; /* для горизонтальной */
}

/* трек (фон полосы) */
::-webkit-scrollbar-track {
	/* background: var(--chakra-colors-surface); */
	background: transparent;
	border-radius: 8px;
}

/* сам ползунок */
::-webkit-scrollbar-thumb {
	/* background-color: #c98383cc; полупрозрачный цвет */
	border-radius: 8px;
	border: 2px solid var(--chakra-colors-primary); /* отступ внутри трека */
}

/* при наведении */
::-webkit-scrollbar-thumb:hover {
	background-color: #e90000;
}

.liquid-glass {
	position: relative;
	background: rgba(12, 12, 12, 0.3); /* полупрозрачная база */
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px) saturate(180%);
	-webkit-backdrop-filter: blur(20px) saturate(180%);
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
